.slick-slider {
  .slider-arrow {
    position: absolute;
    top: 50%;
    height: 36px;
    margin-top: -18px; 
    line-height: 36px;
    font-size: 38px;
    cursor: pointer;
    z-index: 10;
  }
  .slider-prev {
    left: 0;
    margin-left: -15px;
    @media only screen and (max-width: 521px) {
      margin-left: 10px;
    }
  }
  .slider-next {
    right: 0;
    margin-right: -15px;
    @media only screen and (max-width: 521px) {
      margin-right: 10px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
      li {
        margin: 0 0.25rem;
        &.slick-active button {
          background-color: #999;
        }
        &:only-child {
          display: none;
        }
      }
      button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        border: 1px solid #999; 
        text-indent: -9999px;
      }
  }
}